@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}

@media screen and (max-width: 576px) {

  .banner {
    overflow: hidden;

    .banner-text {
      display: inline-block;


      h1 {
        font-size: 50px !important;
      }

      p {
        max-width: 100% !important;
      }
    }

    .button-store {
      max-width: 100% !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      text-align: center;

      .custom-btn {
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 767px) {

  .feature-box {
    .feature-box-icon {
      width: 20% !important;
    }
  }

  .contact-info{
    text-align: center;
    .contact-info-header{
      justify-content: center;
    }
  }

  .footer {
    text-align: center;

    .footer-sosial ul {
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    .widget {
      .button-store {
        display: inline-block !important;
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px !important;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px !important;
  }

  .burger-menu {
    display: block;
    max-width: 100%;
  }
}

@media screen and (max-width: 992px) {

  .testimonial-clients-track,
  .client-slider-track {
    grid-auto-columns: calc((100% / 3)) !important;
  }

  .screenshot-track {
    grid-auto-columns: calc((100% / 2)) !important;
  }

  .plan-popular {
    margin: 60px 0px !important;
  }

  .home {
    height: 1164px !important;
  }

  .header-nav-item,
  .d-none {
    display: none;
  }

  .button-store {
    justify-content: center;
  }

  .banner-text {
    text-align: center;
  }

  .stiky-arrow-up{
    left: 88% !important;
  }
}

@media (min-width: 993px) {
  .burger-menu {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1160px !important;
  }

  .screenshot-pic {
    width: 300px !important;
  }
}